<p id="notice"><%= notice %></p>


<div class="row">
  <table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Manage <%= icon('sliders') %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @profile.first_name %></td>
      <td><%= @profile.last_name %></td>
      <td><%= @profile.phone %></td>

      <td><%= link_to edit_profile_path(@profile) do %>
        <%= icon('pencil-square-o') %>
        <% end %>
      </td>

    </tr>
  </tbody>
</table>

</div>
