<p id="notice"><%= notice %></p>

<p>
  <strong>Accessibility:</strong>
  <%= @amenity.accessibility %>
</p>

<p>
  <strong>Bike rack:</strong>
  <%= @amenity.bike_rack %>
</p>

<p>
  <strong>Coffee:</strong>
  <%= @amenity.coffee %>
</p>

<p>
  <strong>Computer:</strong>
  <%= @amenity.computer %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @amenity.kitchen %>
</p>

<p>
  <strong>Locked door:</strong>
  <%= @amenity.locked_door %>
</p>

<p>
  <strong>Monitor:</strong>
  <%= @amenity.monitor %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @amenity.parking %>
</p>

<p>
  <strong>Pet friendly:</strong>
  <%= @amenity.pet_friendly %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @amenity.phone %>
</p>

<p>
  <strong>Price:</strong>
  <%= @amenity.price %>
</p>

<p>
  <strong>Printer:</strong>
  <%= @amenity.printer %>
</p>

<p>
  <strong>Shower:</strong>
  <%= @amenity.shower %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @amenity.tv %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @amenity.wifi %>
</p>

<%= link_to 'Edit', edit_amenity_path(@amenity) %> |
<%= link_to 'Back', amenities_path %>
