<%= form_with(model: amenity, remote: true) do |form| %>
  <% if amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>

      <ul>
      <% amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group field">
    <%= form.label :accessibility %>
    <%= form.text_field :accessibility, id: :amenity_accessibility, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :bike_rack %>
    <%= form.text_field :bike_rack, id: :amenity_bike_rack, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :coffee %>
    <%= form.text_field :coffee, id: :amenity_coffee, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :computer %>
    <%= form.text_field :computer, id: :amenity_computer, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :kitchen %>
    <%= form.text_field :kitchen, id: :amenity_kitchen, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :locked_door %>
    <%= form.text_field :locked_door, id: :amenity_locked_door, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :monitor %>
    <%= form.text_field :monitor, id: :amenity_monitor, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :parking %>
    <%= form.text_field :parking, id: :amenity_parking, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :pet_friendly %>
    <%= form.text_field :pet_friendly, id: :amenity_pet_friendly, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :amenity_phone, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :amenity_price, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :printer %>
    <%= form.text_field :printer, id: :amenity_printer, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :shower %>
    <%= form.text_field :shower, id: :amenity_shower, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :tv %>
    <%= form.text_field :tv, id: :amenity_tv, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= form.label :wifi %>
    <%= form.text_field :wifi, id: :amenity_wifi, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success pull-right'  %>
  </div>
<% end %>
