
<section id="newSpace">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= form_with(model: space, remote: true) do |form| %>
          <% if space.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

              <ul>
              <% space.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>

              </ul>
            </div>
          <% end %>

      <div class="row">
        <div class="col-md-6">
          <div class="field form-group">
            <%= form.label :name %>
            <%= form.text_field :name, id: :space_name, class: 'form-control' %>
          </div>

        <div class="field form-group">
          <%= form.label :website %>
          <%= form.text_field :website, id: :space_website, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= form.label :phone %>
          <%= form.text_field :phone, id: :space_phone, class: 'form-control' %>
        </div>
        </div>

        <div class="col-md-6">
          <div class="field form-group">
            <%= form.label :description %>
            <%= form.text_area :description, id: :space_description, class: 'form-control' %>
          </div>

        </div>
      </div>

      <%= form.hidden_field :user_id, :value => @current_user.id %>

      <h4>Amenities</h4>
        <div class="field form-group">
          <table class="table table-bordered table-hover table-striped text-nowrap">
              <% Amenity.all.each do |amenity| %>
              <tr>
                <td><%= "#{amenity.name}" %></td>
                <td><%= check_box_tag "space[amenity_ids][]", amenity.id %></td>
              </tr>
              <% end %>
          </table>
        </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-success pull-right' %>
        </div>

      </div>
      <% end %>
  </div>

</section>
