<%= search_form_for @q, class: "form-inline" do |f| %>

  <!-- <div class="field form-group field"> -->
    <%#= f.label :name_cont %>
    <%#= f.search_field :name_cont, id: :space_name, class: 'form-control' %>
  <!-- </div> -->

  <div class="field form-group field">
    <%= f.label :address_city_cont %>
    <%= f.search_field :address_city_cont, id: :address_city, class: 'form-control' %>
  </div>

  <div class="field form-group field">
    <%= f.label :bookings_reservation_date_gteq_blank %>
    <%= f.date_field :bookings_reservation_date_gteq, id: :bookings_reservation_date_gteq, class: 'form-control'  %>
  </div>

  <div class="field form-group field">
    <%= f.label :bookings_reservation_date_lteq_blank %>
    <%= f.date_field :bookings_reservation_date_lteq, id: :bookings_reservation_date_lteq, class: 'form-control'  %>
  </div>




  <!-- <div class="field form-group field"> -->
    <%#= f.label :address_full_address_cont %>
    <%#= f.search_field :address_full_address_cont, id: :address_full_address, class: 'form-control' %>
  <!-- </div> -->

  <!-- <div class="field form-group field"> -->
    <!-- <%#= f.label :desks_price_cont %> -->
    <!-- <%#= f.search_field :desks_price_cont, id: :desks_price, class: 'form-control' %> -->
  <!-- </div> -->


  <%#= f.label :bookings_start_date_gteq %>
  <%#= f.date_field :bookings_start_date_gteq %>

  <%#= f.label :bookings_end_date_lteq %>
  <%#= f.date_field :bookings_end_date_lteq %>

  <!-- <div class="field form-group field"> -->
    <%#= f.label :bookings_cont %>
    <%#= f.search_field :desks_price_cont, id: :desks_price, class: 'form-control' %>
  <!-- </div> -->

  <div class="actions">
    <%= f.submit class: 'btn btn-success pull-right' %>
  </div>

<% end %>
