<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @space.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @space.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user_id %>
</p>




<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>

<!-- Add Address modal -->
<div id="add-address">
    <% if @current_user && (@current_user == @space.user || @current_user.role == "admin") %>
        <%= render partial: 'addresses/add_address_modal' %>
    <%end%>
  </div>


<!-- IMAGE GALLERY FOR SPACE SHOW/DETAIL PAGE -->
<div id="space-image-gallery">

  <!-- VIEW PHOTOS -->
	<% photos = @space.photos %>
	<% if photos %>
		<% photos.each do |photo| %>
			<div id="space-photo">
				<%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, target: '_blank', width: 175 %><br>
				<% if @current_user && (@current_user == photo.user || @current_user.role == "admin") %>

        <%= link_to photo, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('trash') %>
        <% end %>

				<% end %>
			</div>
		<% end %>
	<% end %>

  <div id="space-image-gallery-text">
  	<!-- UPLOAD IMAGES TO SPACE (ONLY ADMIN AND SPACE HOST) -->
  	<% if @current_user && (@current_user == @space.user || @current_user.role == "admin") %>
  		<%= render partial: 'photos/upload_image_modal', space: @space %>
  	<% end %>
	</div>

</div>
