<section class="bg-light" id="portfolio">


  <div class="row">
    <% @spaces.each do |space| %>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>

            <%#= binding.pry %>

            <%# if space.photos.present? %>
            <% if space.present? && space.photos.present? %>
              <% @photos = SpacesHelper.return_photos_with_same_space_id(space) %>
              <% if @photos.present? %>
                <% photo = @photos.first %>
                <%#= binding.pry %>
                <%#= link_to image_tag(@photo.image.url(:thumb), class: 'media-object'), space, class:'img-fluid' %>
                <%= link_to image_tag(photo.image), space %>
                <%#= render 'photos/photo_partial', photo: @photo %>
              <% end %>
            <% else %>
              <% @images = [ "https://picture.liquidspace.com/Index/539968b5-74d2-44b9-9539-9b6b2c973be4?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/f2da6102-6440-4f31-802c-691cef1111d8?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/17ae153d-1741-4ba8-849a-6222911e53e2?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/6f83369b-091a-45ba-813a-8396c5e9ceaf?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/be752e91-2764-43c9-8984-b853ced3b617?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/5b8d7793-9ab8-4029-99b0-e34510aa4712?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/5ccd06b7-5470-4390-9e63-fdd8d57eb34d?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/ab04049d-9a58-4a97-8241-7bea9e59b9e4?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg",
                             "https://picture.liquidspace.com/Index/9974e3c8-5d45-469a-a8e3-4e313a16a130?emptyImageUrl=https:%2f%2fliquidspace.com%2fContent%2fImages%2fliquid-holder.jpg"] %>
              <img class="img-fluid" src="<%= @images.sample %>" alt="">
            <% end %>

          </a>

          <div class="portfolio-caption">
            <h4><%= link_to space.name, space %></h4>
            <%#= binding.pry %>
            <% if space.address %>
              <p class="text-muted"><%= space.address.street %></p>
              <% else %>
              <p class="text-muted">Great Location!</p>
            <% end %>
          </div>

        </div>
      <% end %>
  </div>
  </div>

  <hr>

  <!-- DYNAMIC MAP PARTIAL BELOW -->
  <% @addresses = @spaces.collect(&:address).flatten %>
  <%#= binding.pry %>

  <div class="container">
    <% if @addresses.present? %>

      <h4>Dynamic Map section</h4>
      <p>Pins of all Addresses returned in search.</p>

      <div class="col-md-6">
        <div class="row">
          <%= render 'addresses/dynamic_map_partial', addresses: @addresses %>
        </div>
      </div>

    <% end %>

  </div>

</section>
