<h3>Spaces</h3>

<div class="row">
  <table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Phone</th>
      <th>User</th>
      <th colspan="2">Manage <%= icon('sliders') %></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= link_to space.name, space %></td>
        <td><%= space.website %></td>
        <td><%= space.phone %></td>
        <td><%= link_to space.user.username, space.user %></td>

        <td><%= link_to edit_space_path(space) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to space, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('trash') %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
