<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @space.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @space.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @space.user_id %>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
