<% if !@space %>
  <p>
    <strong>Desk:</strong>
    <%= @booking.desk_id %>
  </p>
<%end%>

<p>
  <%= icon('book') %> <strong>Booking Id:</strong>
  <span>
    <%= @booking.id %>
    <%= render partial: "bookings/edit_booking_modal"%>
    <% if @space %> |
      <%= link_to booking_path(@booking), remote: true, id: @booking.id, method: :delete, data: { confirm: 'Are you sure you want to delete this desk? All current bookings associated with this desk will be deleted.' } do %>
      <%= icon('trash') %>
      <% end %>
    <%end%>
  </span>

</p>

<p>
  <strong>Booking date:</strong>
  <%= @booking.booking_date %>
</p>

<p>
  <strong>User:</strong>
  <% renter = User.find(@booking.user_id) %>
  <%= link_to renter.profile.fullname, user_path(renter) %>
</p>

<%if !@space %>
<%= link_to 'Edit', edit_booking_path(@booking) %>

  | <%= link_to 'Back', bookings_path %>
<%end%>
