<h3>Bookings</h3>

<div class="row">
  <table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Booking Start Date</th>
      <th>Booking End Date</th>
      <th>Desk ID</th>
      <th>Renter</th>
      <th colspan="2">Manage <%= icon('sliders') %></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.id, booking %></td>
        <td><%= booking.start_date.strftime('%x') %></td>
        <td><%= booking.end_date.strftime('%x') %></td>
        <td><%= link_to booking.desk_id, booking.desk %></td>
        <td><%= link_to booking.user_id, booking.user %></td>

        <td><%= link_to edit_booking_path(booking) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to booking, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('trash') %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Booking', new_booking_path, class: "btn btn-success" %>
