<%= form_with(model: booking, remote: true) do |form| %>
  <%if booking %>
    <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <%end%>


<div class="field form-group field">
<%= form.label :Start_Date %>
<input type='date' name="booking_date[start]"/>
</div>

<div class="field form-group field">
  <%= form.label :End_Date %>
  <input type='date' name="booking_date[end]"/>
</div>


<% if @desk %>
  <%= form.hidden_field :desk_id, value: @desk.id %>
<%else%>
  <div class="field form-group field">
    <%= form.label :desk_id %>
    <%= form.number_field :desk_id, id: :booking_desk_id, class: 'form-control' %>
  </div>
 <%end%>

  <div class="field form-group field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :booking_user_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success pull-right' %>
  </div>
<% end %>
