<%= form_with(model: booking, remote: true) do |form| %>
<%if booking %>
<% if booking.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

  <ul>
    <% booking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%end%>

<div class="field form-group field">
  <%= form.label :reservation_start_date%>
  <%= form.date_field :reservation_start_date, as: :date, id: :reservation_start_date, class: 'form-control' %>
</div>

<div class="field form-group field">
  <%= form.label :reservation_end_date%>
  <%= form.date_field :reservation_end_date, as: :date, id: :reservation_end_date, class: 'form-control' %>
</div>

<hr>
<%#= binding.pry %>
<% if @desk %>
  <%= form.hidden_field :desk_id, value: @desk.id %>
<% else %>
<div class="field form-group field">
  <%= form.label :desk_id %>
  <%= form.number_field :desk_id, id: :booking_desk_id, class: 'form-control' %>
</div>
<% end %>

<% if @current_user %>
  <%= form.hidden_field :user_id, :value => @current_user.id %>
<% end %>

<div class="actions">
  <%= form.submit class: 'btn btn-success pull-right' %>
</div>
<% end %>
