<div class="container">


  <div id="userProfile" class="row">
    <table class="table table-bordered table-hover table-striped text-nowrap">
      <tr>
        <th>Username <%= icon('user') %></th>
        <th>Email <%= icon('envelope') %></th>
        <th>Updated <%= icon('calendar') %></th>

        <% if @current_user && (@current_user == user || @current_user.role == "admin") %>
          <!-- <th>Post New Article <%#= icon('rss') %></th> -->
          <th colspan="2">Manage <%= icon('sliders') %></th>
        <% end %>

      </tr>
      <tr>
        <td><%= link_to user.username.capitalize, user %></td>
        <td><%= user.email %></td>
        <td><%= user.updated_at.strftime('%x')%></td>

        <%# if @current_user && (@current_user == user || @current_user.role == "admin") %>
          <td><%= link_to edit_user_path(user) do %>
            <%= icon('pencil-square-o') %>
            <% end %>
          </td>

          <td><%= link_to user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon('trash') %>
            <% end %>
          </td>

        <%# end %>

      </tr>
    </table>
  </div>


  <div id="userProfileArea" class="row">
    <% if user.profile %>
      <% @profile = user.profile %>
      <%= render partial: 'profiles/profile_partial', profile: @profile %>
    <% else %>
      <%= render 'profiles/form', profile: Profile.new %>
    <% end %>
  </div>


  <div id="#userProperties" class="row">
    <% if user.spaces && user.spaces.count > 0 %>
      <% @spaces = user.spaces %>
      <%= render 'spaces/spaces_partial', spaces: @spaces %>
    <% end %>
    <%= link_to 'New Space', new_space_path, class: "btn btn-success pull-right" %>
  </div>

</div>
