<div class="container">


  <div id="userProfile" class="row">
    <table class="table table-bordered table-hover table-striped text-nowrap">
      <tr>
        <th>Username <%= icon('user') %></th>
        <th>Email <%= icon('envelope') %></th>
        <th>Updated <%= icon('calendar') %></th>

        <% if @current_user && (@current_user == user || @current_user.role == "admin") %>
          <!-- <th>Post New Article <%#= icon('rss') %></th> -->
          <th colspan="2">Manage <%= icon('sliders') %></th>
        <% end %>

      </tr>
      <tr>
        <td><%= user.username.capitalize %></td>
        <td><%= user.email %></td>
        <td><%= user.updated_at.strftime('%x')%></td>

        <%# if @current_user && (@current_user == user || @current_user.role == "admin") %>
          <td><%= link_to edit_user_path(user) do %>
            <%= icon('pencil-square-o') %>
            <% end %>
          </td>

          <td><%= link_to 'Destroy', user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# end %>

      </tr>
    </table>
  </div>
  <div id="#userProperties" class="row">
    <%= link_to "List New Space", new_space_path, class: "btn btn-success"%>

    <% if @spaces.length > 0 %>
    <br><br>
      <table class="table table-bordered table-hover table-striped text-nowrap">
        <tr>
          <th>Space Name</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Manage</th>
          <th>Delete</th>
        </tr>

        <% @spaces.each do |space| %>
          <tr>
            <td> <%= link_to "#{space.name}", space %> </td>
            <td> <%= space.created_at.strftime('%x')%> </td>
            <td> <%= space.updated_at.strftime('%x')%> </td>
            <td> <%= link_to "Edit", edit_space_path(space), class:"btn btn-success btn-block" %> </td>
            <td> <%= link_to 'Delete', space, class:"btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure? This will remove all associated desks and current bookings. This process is not reversible.'} %> </td>
          </tr>
        <%end%>
      </table>
    <% end %>





  </div>

  <div id="userProfileArea" class="row">
    <% if user.profile %>
      <% @profile = user.profile %>
      <%= render partial: 'profiles/profile_partial', profile: @profile %>
    <% else %>
      <%= render 'profiles/form', profile: Profile.new %>
    <% end %>
  </div>







</div>
