<div class="row">


  <div class="row" id="userProfile">
    <table class="table table-bordered table-hover table-striped text-nowrap">
      <tr>
        <th>Username <%= icon('user') %></th>
        <th>Email <%= icon('envelope') %></th>
        <th>Updated <%= icon('calendar') %></th>

        <% if @current_user && (@current_user == user || @current_user.role == "admin") %>
          <!-- <th>Post New Article <%#= icon('rss') %></th> -->
          <th colspan="2">Manage <%= icon('sliders') %></th>
        <% end %>

      </tr>
      <tr>
        <td><%= link_to user.username.capitalize, user %></td>
        <td><%= user.email %></td>
        <td><%= user.updated_at.strftime('%x')%></td>

        <%# if @current_user && (@current_user == user || @current_user.role == "admin") %>
          <td><%= link_to edit_user_path(user) do %>
            <%= icon('pencil-square-o') %>
            <% end %>
          </td>

          <td><%= link_to user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon('trash') %>
            <% end %>
          </td>

        <%# end %>

      </tr>
    </table>
  </div>

  <hr>


  <div class="row" id="userProfileArea">
      <% @profile = user.profile %>
      <%= render partial: 'profiles/profile_partial', profile: @profile %>
  </div>

  <hr>



  <div class="row" id="#userProperties">
    <% if user.spaces && user.spaces.count > 0 %>
      <% @spaces = user.spaces %>
      <%= render 'spaces/spaces_partial', spaces: @spaces %>
    <% end %>
    <%= link_to 'New Space', new_space_path, class: "btn btn-success btn-xs pull-right" %>
  </div>


  <!-- <div id="#userPhotos" class="row"> -->
    <!-- <h3>Photos: <%#= @photos.count %></h3> -->
    <!-- PARTIAL LINK TO PHOTOS/INDEX (VIEW ALL) -->
    <%#= render 'photos/photos_partial', photos: user.photos %>
  <!-- </div> -->

  <hr>



  <!-- USER PROFILE AVATAR SECTION -->
  <div class="row" id="user-image-gallery">

    <!-- VIEW PHOTOS -->
    <% if @user.photos %>
    <% photos = @user.photos %>
      <% photos.each do |photo| %>
        <div id="user-photo">
          <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, target: '_blank', width: 175 %><br>
          <% if @current_user && (@current_user == @user || @current_user.role == "admin") %>

            <%= link_to photo, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash') %>
            <% end %>

          <% end %>
        </div>
      <% end %>
    <% end %>

    <hr>

    <div class="row" id="user-image-gallery-text">
      <!-- UPLOAD AVATARS TO USER PROFILE (ONLY ADMIN AND USER) -->
      <% if @current_user && (@current_user == @user || @current_user.role == "admin") %>
        <%= render partial: 'photos/upload_image_modal', user: @user %>
      <% end %>
    </div>

  </div>

  <hr>


  <div class="row">

    <h3>TESTING THE NEW LOGIN MODAL LINK - LATER MOVE TO MAIN NAV.</h3>

    <div class="row" id="">
      <!-- UPLOAD AVATARS TO USER PROFILE (ONLY ADMIN AND USER) -->
      <%= render partial: 'users/login_register_modal' %>
    </div>

  </div>

  <hr>

  <div class="row">
    <h3>temporary links below</h3>

    <%= render partial: 'shared/nav_user_partial' %>

  </div>




</div>
