<% if @current_user && (@current_user == user || @current_user.role == "admin") %>
<div class="row">
  <div class="col-sm-4">
    <div class="team-member">
      <img class="mx-auto rounded-circle" src="beachflag.png">
        <h4><%= link_to user.username.capitalize, user %></h4>
          <p class="text-muted">Local Host</p>
          <p class="text-muted"><%= user.email %></p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <%= link_to edit_user_path do %>
              <%= icon('user')%>
              </a>
            </li>
            <li class="list-inline-item">
              <%= link_to user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash') %>
              </a>
            </li>
            <li class="list-inline-item">
              <%= link_to new_space_path do %>
              <%= icon('pencil') %>
              </a>
            </li>
          </ul>
    </div>
  </div>
    <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
    <% if user.spaces && user.spaces.count > 0 %>
      <% @spaces = user.spaces %>
    <% end %>




  <hr>



  <!-- USER PROFILE AVATAR SECTION -->
  <div class="row" id="user-image-gallery">

    <!-- VIEW PHOTOS -->
    <% if @user.photos %>
    <% photos = @user.photos %>
      <% photos.each do |photo| %>
        <div id="user-photo">
          <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, target: '_blank', width: 175 %><br>
          <% if @current_user && (@current_user == @user || @current_user.role == "admin") %>
            <%= link_to photo, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash') %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <hr>

    <div class="row" id="user-image-gallery-text">
      <!-- UPLOAD AVATARS TO USER PROFILE (ONLY ADMIN AND USER) -->
      <% if @current_user && (@current_user == @user || @current_user.role == "admin") %>
        <%= render partial: 'photos/upload_image_modal', user: @user %>
      <% end %>
    </div>

  </div>

  <hr>


  <div class="row">

    <h3>TESTING THE NEW LOGIN MODAL LINK - LATER MOVE TO MAIN NAV.</h3>

    <div class="row" id="">
      <!-- UPLOAD AVATARS TO USER PROFILE (ONLY ADMIN AND USER) -->
      <%= render partial: 'users/login_register_modal' %>
    </div>

  </div>

  <hr>

  <div class="row">
    <h3>temporary links below</h3>

    <%= render partial: 'shared/nav_user_partial' %>

  </div>



