<% if @current_user && (@current_user == user || @current_user.role == "admin") %>
<div class="row">
  <div class="col-sm-4">
    <div class="team-member">
      <img class="mx-auto rounded-circle" <%= image_tag "logo.png" %>
        <h4><%= link_to user.username.capitalize, user %></h4>
          <p class="text-muted">Local Host</p>
          <p class="text-muted"><%= user.email %></p>
          <ul class="list-inline buttons">
            <li class="list-inline-item">
              <%= link_to edit_profile_path do %>
              <%= "Edit Your Profile |" %>
              </a>
            </li>
            <li class="list-inline-item">
              <%= link_to user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= "Delete Your Account | " %>
              </a>
            </li>
            <li class="list-inline-item button">
              <%= link_to new_space_path do %>
              <%="List A Space" %>
              </a>
            </li>
          </ul>
    </div>
  </div>

  <div class="col-md-8 space-details">
    <h3> Your Spaces </h3>
    <% user.spaces.each do |space| %>
      <p><%= link_to space.name, space_path(space) %></p>
        <% end %>
    <hr>
      <h3> Your Bookings </h3>
    <% user.bookings.each do |booking| %>
    <div></div>
      <p><strong>Space:</strong> <%space = Space.find(Desk.find(booking.desk_id).space_id)%><%= link_to space.name, space_path(space) %> |
        <strong>Duration:</strong> <%=booking.start_date.strftime("%a %b %d, %Y")%> - <%=booking.end_date.strftime("%a %b %d, %Y")%> |
        <%= link_to booking, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash') %><%end%>
        </p>
    <% end %>
    <hr>
  </div>


    <% end %>
    <% end %>
  <% end %>
<% end %>
</div>



  <!-- USER PROFILE AVATAR SECTION -->
  <div class="row" id="user-image-gallery">

    <!-- VIEW PHOTOS -->
     <!--<% if @user.photos %>
    <% photos = @user.photos %>
      <% photos.each do |photo| %>
        <div id="user-photo">
          <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, target: '_blank', width: 175 %><br>
          <% if @current_user && (@current_user == @user || @current_user.role == "admin") %>
            <%= link_to photo, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('trash') %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %> -->

    <hr>

    <div class="row" id="user-image-gallery-text">
      <!-- UPLOAD AVATARS TO USER PROFILE (ONLY ADMIN AND USER) -->
      <% if @current_user && (@current_user == @user || @current_user.role == "admin") %>
        <%= render partial: 'photos/upload_image_modal', user: @user %>
      <% end %>
    </div>

  </div>

  <hr>
  </div>

