<div class="container">

  <div class="erb_header">
    <h3><%= @user.username.capitalize %> Settings</h3>
  </div>

  <div class="row">
    <table class="table table-bordered table-hover table-striped text-nowrap">
      <tr>
        <th>Username <%= icon('user') %></th>
        <th>Email <%= icon('envelope') %></th>
        <th>Updated <%= icon('calendar') %></th>
        <th colspan="2">Manage <%= icon('sliders') %></th>
      </tr>
      <tr>
        <td><%= @user.username.capitalize %></td>
        <td><%= @user.email %></td>
        <td><%= @user.updated_at.strftime('%x')%></td>

        <td><%= link_to edit_user_path(@user) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to 'Destroy', @user, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </table>
  </div>
