
<div class="container">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Addresses', addresses_path %></li>
    <li><%= link_to 'Amenities', amenities_path %></li>
    <li><%= link_to 'Bookings', bookings_path %></li>
    <li><%= link_to 'Desks', desks_path %></li>
    <li><%= link_to 'Spaces', spaces_path %></li>
    <li><%= link_to 'Profiles', profiles_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <hr>

    <% if logged_in? %>
    <li><%= link_to @current_user.username.capitalize, user_path(@current_user) %></li>
      <li><%= link_to 'Logout', logout_path %></li>
    <% else %>
      <%#= render partial: 'layouts/modal' %>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>

</div>
