<table class="table table-bordered table-hover table-striped text-nowrap">
  <tr>
    <th>Desk ID</th>
    <th>Space Name</th>
    <th colspan="2">Manage <%= icon('sliders') %></th>
  </tr>
  <tr>
    <td><%= @desk.id %></td>
    <td><%= @desk.space.name %></td>

    <td><%= link_to edit_desk_path(@desk) do %>
      <%= icon('pencil-square-o') %>
      <% end %>
    </td>

    <td><%= link_to @desk, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= icon('trash') %>
      <% end %>
    </td>
  </tr>
</table>
