<h3>Desks</h3>

<div class="row">

<table class="table table-bordered table-hover table-striped text-nowrap">

  <thead>
    <tr>
      <th>Desk ID</th>
      <th>Space Name</th>
      <th colspan="2">Manage <%= icon('sliders') %></th>
    </tr>
  </thead>

  <tbody>
    <% @desks.each do |desk| %>
      <tr>
        <td><%= link_to desk.id, desk %></td>
        <td><%= link_to desk.space.name, desk.space %></td>

        <td><%= link_to edit_desk_path(desk) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to desk, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('trash') %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>


<%= link_to 'New Desk', new_desk_path, class: "btn btn-success" %>
