<table class="table table-bordered table-hover table-striped text-nowrap">
  <tr>
    <th>Desk ID</th>
    <th>Price</th>
    <th>Space Name</th>
    <th>Description</th>
    <th colspan="2">Manage <%= icon('sliders') %></th>
  </tr>
  <tr>
    <td><%= @desk.id %></td>
    <td>$ <%= @desk.price %></td>
    <td><%= @desk.space.name %></td>
    <td><%= @desk.description %></td>

    <td>
      <%= icon('cube') %> <strong>Desk Id:</strong>
      <span>
        <%= @desk.id %>  |
        <%= render partial: "desks/edit_desk_modal"%>
        <%= render partial: "bookings/add_booking_modal" %>
        <% if @space %> | <%= link_to desk_path(@desk), remote: true, id: @desk.id, method: :delete, data: { confirm: 'Are you sure you want to delete this desk? All current bookings associated with this desk will be deleted.' } do %>
        <%= icon('trash') %>
        <% end %>
        <%end%>
      </span>
    </td>

  </tr>
</table>

