<p id="notice"><%= notice %></p>

<p>
  <strong>Amenity:</strong>
  <%= @space_amenity.amenity_id %>
</p>

<p>
  <strong>Space:</strong>
  <%= @space_amenity.space_id %>
</p>

<%= link_to 'Edit', edit_space_amenity_path(@space_amenity) %> |
<%= link_to 'Back', space_amenities_path %>
