 

 <section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-m-12 text-center">
        <h2 class="section-heading text-muted"> #searchcount sharespace offices in #citysearched</h2>
      </div>
    </div>
<div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="https://picture.liquidspace.com/Index/60649c70-c0ce-445f-aee3-43fdce3988fd?emptyImageUrl=https:%2f%2fcontent.liquidspace.com%2fImages%2fliquid-holder.jpg%3fv%3d-73115844&etag=piQl/jN4q2OvYPjWs+SPTg==s" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>New York</h4>
          <p class="text-muted">Illustration</p>
        </div>
      </div>
      
<div class="row">
  <table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>Space Name</th>
      <th>Street</th>
      <th>Unit</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th colspan="2">Manage <%= icon('sliders') %></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= link_to address.space.name, address %></td>
        <td><%= address.street %></td>
        <td><%= address.unit %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip %></td>
        <td><%= address.country %></td>

        <td><%= link_to edit_address_path(address) do %>
          <%= icon('pencil-square-o') %>
          <% end %>
        </td>

        <td><%= link_to address, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('trash') %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Address', new_address_path, class: "btn btn-success" %>

 <%= render partial: 'home/main/section_portfolio' %>