<!DOCTYPE html>
<html>
  <head>
    <title>ShareSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# if user_signed_in? %>
      <%= render partial: 'layouts/nav' %>
    <%# end %>

    <div id="main-wrapper" class="container-fluid outer-container">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </div>

  </body>

<!-- Footer -->
<div class="footer text-center">
  <h4>Developed by The Austonites &copy 2017</h4>
</div>




  </body>

</html>
